@import "@/assets/scss/helpers/variables.scss";
@import "@/assets/scss/helpers/function.scss";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Aero";
  src: url("~@/assets/font/Aero.ttf");
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pdGeneral() {
  padding: 60px calc((100vw - 1100px) / 2);
  box-sizing: border-box;
  // padding: 60px clamp(120px, 20vw, 400px);
}
@mixin pdGeneralHr() {
  padding: 0px calc((100vw - 1100px) / 2);
  box-sizing: border-box;
}

@mixin mgGeneralVt() {
  margin: 100px 0px;
}

@mixin heading {
  font-size: 5rem;
  position: relative;
  margin-bottom: 100px;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: -10px;
    background-color: setColor(text-color);
    width: 0px;
    height: 5px;
    transition: 1s;
  }
}
@mixin glass($br: 10px) {
  background-color: setColor(secondary, 0.6);
  border-left: 2px solid setColor(white, 0.3);
  border-top: 2px solid setColor(white, 0.3);
  box-shadow: 2px 2px 5px setColor(black, 0.7);
  border-radius: $br;
}
html,
body {
  font-family: "Open Sans", "Noto Sans TC", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 1rem;
}

.dividor {
  @include size(100%, 8px);
  position: relative;
  background: setColor(primary);
  // position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
    background: linear-gradient(
      to left,
      rgba(#172038, 0),
      rgba(#a4dddb, 0.5),
      rgba(#172038, 0)
    );
  }
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span,
// button {
//   margin: 0;
//   padding: 0;
//   color: map-get($colors, white);
//   outline: none;
// }
