$colors: (
  primary: #0a1b29,
  secondary: #2d6585,
  white: #fff,
  black: #0e0314,
  text-content: #70c2c9,
);

$shadow: (
  primary-8: 0 0 8px #95d2d7,
);

$linear-gradient: (
  primary: linear-gradient(90deg, #0a1b29 0%, #2d6585 100%),
);

$zindex: (
  navbar: 500,
  planet: 400,
  default: 1,
);
