$colors: (
  primary: #2d112b,
  secondary: #602b41,
  brown: #602b41,
  red: #7e0032,
  white: #fff,
  black: #0e0314,
  text-color: #fedcc8,
  text-color-light: #fedcc8,
);

// $colors: (
//   primary: #0a1f29,
//   secondary: #3c6478,
//   white: #ebede9,
//   black: #0e0314,
//   text-color: #91c6c5,
//   text-color-light: #b4e3e1,
//   text-color-dark: #70c2c9,
// );

// $colors: (
//   primary: #28272c,
//   secondary: #242d64,
//   white: #ebede9,
//   black: #0e0314,
//   text-color: #8b8b8c,
//   text-color-light: #69b5a2,
//   text-color-dark: #8b8b8c,
// );

$shadow: (
  primary-8: 0 0 8px #94c4d6,
);

$linear-gradient: (
  primary: linear-gradient(90deg, #0a1b29 30%, #2d6585 100%),
);

$zindex: (
  "default-1",
  "default-2",
  "moon",
  "layer7",
  "layer6",
  "layer5",
  "layer4",
  "layer3",
  "layer2",
  "layer1",
  "avatar",
  "paragraph",
  "nav-menu",
  "navbar",
  "loading"
);

$breakpoints: (
  pc: 768px,
  mobile: 767px,
);
